/*
 * Settings
 * ========================================================================== */

/**
 * Upload Image
 */

 .wpb-img-wrapper {
  font-size: 1px;
}

.wpb-img-wrapper.active {
  padding-bottom: 15px;
}

.wpb-btn__remove {
  color: #710d0d;
  line-height: 30px;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;

  display: none;
}

.wpb-btn__remove:hover {
  text-decoration: underline;
}

.wpb-btn__remove.active {
  display: inline-block;
}
