.wpb-tabs {}

.wpb-tabs-list {
  display: flex;
  border-bottom: 1px solid #ccd0d4;
}

.wpb-tabs-items {
  margin-bottom: -1px;
}

.wpb-tabs-links {
  display: block;
  padding: 10px;
  border: 1px solid #fff;
  border-bottom: 1px solid #ccd0d4;
}

.wpb-tabs-links:focus {
  outline: 0 !important;
  box-shadow: none !important
}

.wpb-tabs-links.active {
  border: 1px solid #ccd0d4;
  border-bottom: 1px solid #fff;
}

.wpb-tabs-content {
  padding-bottom: 8px;
}

.wpb-tabs-card {
  display: none;
}

.wpb-tabs-card.active {
  display: block;
}

.wpb-tabs-card__content {
  max-height: 100px;
  overflow: hidden;
}

.wpb-tabs-card__content.expand {
  max-height: none;
  overflow: auto;
}

#dashboard-widgets .wpb-tabs-card__content h3 {
  color: #72777c;
  margin: 0;
}

#dashboard-widgets .wpb-tabs-card__content ul {
  margin-top: 0;
}

#dashboard-widgets .wpb-tabs-card__content li {
  margin: 0;
}

.wpb-tabs-card__footer {
  padding: 8px 0 0;
}

.wpb-expand.hide {
  display: none;
}